<div class="col-lg-3 col-xs-6">
    <div class="small-box bg-blue">
        <div class="inner text-center">
            <h3>@Model.CountIncomingLetters</h3>
            <p>Incomming Letter</p>
        </div>
        <div class="icon">
            <i class="ion ion-ios-email"></i>
        </div>
    </div>
</div>>